{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       {{ with .Site.Params.contact.title }} <h2 class="section-title text-primary">{{ . }}</h2> {{ end }}
       {{ with .Site.Params.contact.content }} <p>{{ . | safeHTML }}</p> {{ end }}
       <form action="https://formspree.io/nshaileshshinde@gmail.com" method="POST">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control mb-4 shadow rounded-0">
          <input type="email" id="mail" name="mail" placeholder="Email" class="form-control mb-4 shadow rounded-0">
          <input type="text" id="subject" name="subject" placeholder="subject" class="form-control mb-4 shadow rounded-0">
          <textarea name="message" id="message" placeholder="Message" class="form-control mb-4 shadow rounded-0"></textarea>
          <button type="submit" value="send" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}
