{{ "<!-- banner -->" | safeHTML }}
<div class="container">
    <div class="row">
    <div class="col-lg-8 text-center mx-auto">

            <iframe style="width: 100%    !important; " width="760" height="512" src="https://www.youtube.com/embed/7HxaYvb7uUQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
</div>
{{ "<!-- /banner -->" | safeHTML }}
